.contenedor {
color: beige;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.contenedor img {
	width: 200px;
	height: 150px;
}
#tabla1{
	width: 75%;
	border:1px solid; 
	color: black;
	margin-right: 660px;
	margin-left: 300px;
	margin-top: -715px
}
#tabla1 tr td{
	background-color: rgba(0, 0, 0, 0.459);
	border:1px solid; 
	color: black;
}
/*
.contenedor2 {
border: 1px solid; color: beige;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-right: 660px;
margin-left: 300px;
margin-top: -715px
}

.contenedor2 img {
	width: 50%;
}
*/